body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #202225;
  color: white;
}
.logo {
  margin-top: -20px;
}
.homeImg {
  z-index: -999;
  width: 100%;
  -webkit-filter: blur(2px);filter: blur(2px);
}
.homePG {
  height: 700px;
  overflow: hidden;
  margin-bottom: -65px;
}
.weAre {
  color: #e5e5e5;
  font-size: 38px;
  font-weight: 600;
  background-color: rgba(0,0,0,0.7);
  padding: 0px 20px 0px 20px;
}
.bottom-left {
    position: absolute;
    bottom: 100px;
    left: 250px;
}
#rotate {
  display: inline;
}
.logoName {
  font-size: 35px;
  font-weight:800;
}

/* Navbar styles */
.navbar-dark {
  background-color: #474747;
  opacity: 0.9;
  padding: 0;
}
.navbar-dark .navbar-nav .nav-item {
  color: #fff;
}
.navbar-dark .navbar-nav .active {
  background-color: #515151;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 20px 15px 20px 15px;
}

/* Section */
.lightSection {
  background-color: #484B51;
}
.section1 {
  margin-top: 65px;
  border-top: 1px solid black;
  padding: 15px;
}
.sectionTitle {
  font-size: 35px;
}
.sectionTitleDiv {
  display: inline;
  margin-left: 10px;
  border-right: 1px solid white;
}
.person {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.rowSpacer {
  margin-top: 25px;
}
.center { /* IMG Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* About */
.aboutP {
  font-size: 15px;
}
.card {
  background-color: #202225;
  padding-top: 10px;
}

/* Events */
.section2 {
  margin-top: 15px;
}
