body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #202225;
  color: white;
}
.logo {
  margin-top: -20px;
}
.homeImg {
  z-index: -999;
  width: 100%;
  -webkit-filter: blur(2px);filter: blur(2px);
}
.homePG {
  height: 700px;
  overflow: hidden;
  margin-bottom: -65px;
}
.weAre {
  color: #e5e5e5;
  font-size: 38px;
  font-weight: 600;
  background-color: rgba(0,0,0,0.7);
  padding: 0px 20px 0px 20px;
}
.bottom-left {
    position: absolute;
    bottom: 100px;
    left: 250px;
}
#rotate {
  display: inline;
}
.logoName {
  font-size: 35px;
  font-weight:800;
}

/* Navbar styles */
.navbar-dark {
  background-color: #474747;
  opacity: 0.9;
  padding: 0;
}
.navbar-dark .navbar-nav .nav-item {
  color: #fff;
}
.navbar-dark .navbar-nav .active {
  background-color: #515151;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 20px 15px 20px 15px;
}

/* Section */
.lightSection {
  background-color: #484B51;
  border-top: 1px solid white;
  padding: 15px;
}
.darkSection {
  background-color: #202225;
  border-top: 1px solid white;
  padding: 15px;
}
.section1 {
  margin-top: 65px;
}
.sectionTitle {
  font-size: 35px;
}
.sectionTitleDiv {
  display: inline;
  margin-left: 10px;
  border-right: 1px solid white;
}
.person {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.rowSpacer {
  margin-top: 25px;
}
.rowSpacer2x{
  margin-top: 50px;
}
.rowSpacer3x{
  margin-top: 75px;
}
.rowSpacer4x{
  margin-top: 100px;
}
.center { /* IMG Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-dark {
  background-color: #202225;
  border-color: #024833;
}
.card-light {
  background-color: #484B51;
  border-color: #024833;
}
.card-pad {
  padding-top: 10px;
}

/* About */
.aboutP {
  font-size: 15px;
}

/* Events */
/* .section2 {
  margin-top: 15px;
} */
.recentEvent {
  max-width: 100%;
}
.ml-5 {
  margin-left: 90% !important;
}
.ml-4 {
  margin-left: 70% !important;
}
.card-date {
  padding: 5px 10px 0px 10px;
  background-color: #024833;
  color: #FFEE37;
}

/* Officers */
.cardOfficer {
  margin-top: 10px;
  border-color: #024833;
}
.cardOfficer img {
  width: 100%;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  rgba(2,72,51,0.8);
}

.cardOfficer:hover .overlay {
  opacity: 1;
}

.text {
  width: 100%;
  color: #FFEE37;
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.OffBtn {
  color: #FFEE37;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Development */
.devTitle {
  font-size: 28px;
  text-align: center;
}
.devTitle hr {
  border-color: white;
  width: 75%;
}
  /* Carousel Scaling */


/* #024833 - Green */
/* #FFEE37 - Yellow */
